.proverGraphContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f3f4f6;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 60%;
    max-width: 800px;
    height: 80vh;
    overflow-y: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.proverGraphContainer:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.piFunction {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    width: 100%;
}

.mapElement {
    margin-top: 1px;
    margin-bottom: 0px;
    font-size: 0.9em;
    color: #555;
}

.currentNodePrompt {
    text-align: center;
    margin-bottom: 0px;
    font-size: 1.2em;
}

#userInput {
    padding: 12px;
    margin: 2px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 80%;
    font-size: 1em;
    color: #333;
    transition: border-color 0.3s ease;
}

#userInput:focus {
    outline: none;
    border-color: #4CAF50;
    background-color: #f0f8f0;
}

.nextNodeBtn {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nextNodeBtn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.error {
    color: #FF4D4D;
    font-size: 1.1em;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.graph {
    width: 60vh;
    height: 70vh;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
