/* Graph container styling */
.graph {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 50vh;
    height: 40vh;
}

/* Enhance graph interaction styling */
.graph:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease-in-out;
}
