.success{ 
    font-size: 1.8rem;
    color: #333;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.7); 
}

.party-img{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}